*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #141922;
}

a{
  text-decoration: none;
  color: white;
}

.b_pad{
  padding: 0 5%;
}

header{
  background-color: #141922;
  width: 100%;
  color: white;
  height: 100px;
  position: fixed;
  z-index: 800;
  opacity: .8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

header h4 a{
 border: 1px solid white;
  padding: 15px;
  border-radius: 30px;
  color: white;
}

.null{
  background-color: #141922;
  height: 100px;
}

main{
  margin: 20px 0 85px 0;
  float: right;
  color: white;
  background-color: #141922;
  height: 100%;
  /* height: calc(230vh - 80px); */
  width: calc(100% - 200px);
  overflow: hidden;
}

#l_bar{
  color: #a3a3a3;
  position: fixed;
  width: 200px;
  float: left;
  background-color: black;
  height: calc(100% - 80px);
  z-index: 900;
}

#l_bar > img{
  margin-bottom: 10%;
  margin-left: 5%;
  max-width: 100%;
}

.l_bar_top{
  display: flex;
  align-items: center;
  padding: 5px;
}

.l_bar_top img{
  max-width: 30px;
}

.l_bar_top p{
  padding-left: 10px;
  font-weight: bold;
}

.filler{
  width: 100%;
}

.l_bar_bot{
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.l_bar_top2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}


.l_bar_top2 img{
  max-width: 15%;
  background-color: grey;
  border-radius: 50%;
  padding: 2px;
}

.l_bar_top2 p{
  padding: 0 10px;
}

@media all and (max-height: 537px) {
  #l_bar .l_bar_bot{
    position: static;
  }
}

ul{
  height: 25%;
  overflow-x: auto;
  overflow-y: auto;
}


.main_bar{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_bar a{
  padding: 0 5px;
}

.gallery{
  display: flex;
  justify-content: space-between;
}

.gallery_content{
  /* padding-right: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.gallery_content img{
  max-width: 90%;
}

.gallery2{
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

.gallery2 img{
  max-width: 100%;
}

.gallery_content2{
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16%;
}

.round{
  border-radius: 50%;
}

footer{
  padding: 0 5%;
  display: flex;
  background-color: #282828;
  height: 80px;
  position: fixed;
  width: 100%;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  z-index: 999;
}
